@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-truncated {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.wrap {
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
}

.recipe-list {
  padding: 10px 0;
}

.recipe {
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 5px;
}

.recipe .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
}

.recipe .header .title {
  font-size: 20px;
}

.recipe .description {
  max-width: 90%;
}

.app-button {
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
  text-shadow: 0 1px 0 #C04131;
  background-image: linear-gradient(#DD4B39, #D14836);
  outline:none;
  border: 1px solid #DD4B39;
}

.app-button:hover {
  border: 1px solid #AF301F;
  background-image: linear-gradient(#DD4B39, #C53727);
}

.app-button:focus {
  border: 1px solid #AF301F;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
  background-image: linear-gradient(#D74736, #AD2719);
}

.pagination {
  display: flex;
  flex-direction: row;
}

.pagination .item {
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 2px;
  border: 1px solid black;
  margin-right: 5px;
}

.pagination .item.active, .pagination .item:hover {
  background-color: #cccccc;
}

.search-area input {
  font-size: 12px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline:none;
  margin-right: 20px;
}
